<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SiteBaseURL</key>
	<string>https://c4i.fiveq.dev</string>
	<key>ApiKey</key>
	<string>5aa8eb9fe5fb265c5f3acdc5f317fd4917a7c028c40937ca7870ad2f8df6f839</string>
	<key>BasicAuthUsername</key>
	<string>fiveq</string>
	<key>BasicAuthPassword</key>
	<string>demo</string>
	<key>AuthScheme</key>
	<string>c4i-auth</string>
	<key>FirstPartyHosts</key>
	<array>
		<string>c4i.fiveq.dev</string>
		<string>c4iglobal.com</string>
	</array>
</dict>
</plist>
